/Account/nbproject/private/
/Account/build/
/clock/nbproject/private/
/clock/build/
/clockApplication/nbproject/private/
/clockApplication/build/
/AutoPolicy/nbproject/private/
/AutoPolicy/build/
/Test/nbproject/private/
/Test/build/
/MaximumFinder/nbproject/private/
/MaximumFinder/build/
/RandomNumber/nbproject/private/
/RandomNumber/build/
/AverageScore/nbproject/private/
/AverageScore/build/
/power/nbproject/private/
/power/build/
/HW1/build/
/HW1/nbproject/private/
/DiceFrequency/nbproject/private/
/DiceFrequency/build/
/1014/build/
/1014/nbproject/private/
/quiz1/build/
/quiz1/nbproject/private/
/studentScore/nbproject/private/
/studentScore/build/
/Craps/nbproject/private/
/Craps/build/
/gradesApplication/nbproject/private/
/gradesApplication/build/
/investCalculator/nbproject/private/
/investCalculator/build/
