/Account/nbproject/private/
/Account/build/
/clock/nbproject/private/
/clock/build/
/clockApplication/nbproject/private/
/clockApplication/build/
/AutoPolicy/nbproject/private/
/AutoPolicy/build/
/Test/nbproject/private/
/Test/build/
/MaximumFinder/nbproject/private/
/MaximumFinder/build/
/RandomNumber/nbproject/private/
/RandomNumber/build/
